services:
  webtop: 
    image: ghcr.io/linuxserver/webtop:ubuntu-mate
    container_name: webtop
    environment: 
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Singapore
    volumes:
      - webtop_config:/config
    ports:
      - 3000:3000
    shm_size: "2gb"
    restart: unless-stopped
    
volumes:
  webtop_config: {}